h2
{
    color: #003580;
}
#main
{
    font-size: 14px;
    color: #000033;
}
.red
{
    color: #f00;
}
.blue
{
    color: #1f87cc;
}
.orange
{
    color: #faa53b;
}
.green
{
    color: #0d7114;
}
.size1
{
    width: 100px;
    height: 160px;
}
.size2
{
    width: 200px;
    height: 130px;
}