
#head{
width: 730px;
height: 150px;
margin: 0 auto;
}
h1{float: left;}
.head_r{
float: right;
}
#content{
width: 800px;
height: 300px;
margin: 0 auto;
}
li{
float: left;
margin-right: 10px;
}
p{
    text-align: center;
    }